:root {
  --operate_height: 60px;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.operate {
  height: var(--operate_height);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03),0 1px 6px -1px rgba(0, 0, 0, 0.02),0 2px 4px 0 rgba(0, 0, 0, 0.02);
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  position: relative;
  z-index: 100;
}

.version {
  color:  #333;
}

.select-container {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.app {
  margin-top: 10px;
  display: flex;
  height: calc(100% - var(--operate_height) - 10px);
  overflow: hidden;
}

#code {
  width: 50%;
  height: 100%;
}

#output {
  width: 50%;
  height: 100%;
}
